{
  "useTabs": false,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]",
    "^.+\\.(css|sass|scss)$"
  ],
  "importOrderSeparation": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
